COMPOSE_PROJECT_NAME=ros_backend11
ROS_TCP_HOST_BIND=127.0.0.1
ROS_TCP_HOST_PORT=10001
ROS_TCP_UNITY_PORT=10001
QUEST_TCP_HOST_BIND=127.0.0.1
QUEST_TCP_HOST_PORT=5026
QUEST_TCP_UNITY_PORT=5026
ENABLE_DESKTOP=0
ENABLE_NOVNC=0
SIM_HEADLESS=1
